<% value = untranslated_value[:value]
   is_multiple = value.is_a?(Array) ? true : false -%>

<% if translatable_field_a_text_area?(form, untranslated_value[:attribute_key]) %>

  <td colspan="2" class="original_label_and_value" valign="top" style="padding: 5px;">
    <%= h(untranslated_value[:localized_label]) -%><br />
    <% if [:description,
       :index_page_extra_side_bar_html].include?(untranslated_value[:attribute_key]) ||
       (form.object.translatable_class == ConfigurableSetting && form.object.translatable.name == 'additional_footer_content') -%>
      <%= value -%>
    <% else -%>
      <% if is_multiple -%>
        <% values = value.collect { |v| h(v) } -%>
	<%= values.to_sentence -%>
      <% else -%>
        <%= h(value) -%>
      <% end -%>
    <% end -%>
  </td>

<% else %>

  <td class="original_label" valign="top" style="width: 10%; padding: 5px;">
    <%= h(untranslated_value[:localized_label]) -%>
  </td>
  <td class="original_value" valign="top" style="padding: 5px;">
    <% if is_multiple -%>
      <% values = value.collect { |v| h(v) } -%>
      <%= values.to_sentence -%>
    <% else -%>
      <%= h(value) -%>
    <% end -%>
  </td>

<% end %>
